In [4]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [15]:
df = pd.read_csv('heart.csv')
df.head(2)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1

In [29]:
df[(df.Cholesterol>df.Cholesterol.mean() - 3 * df.Cholesterol.std()) & (df.Cholesterol<df.Cholesterol.mean() + 3 * df.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [30]:
df1.shape

(915, 12)

In [35]:
df1= df[(df.MaxHR>df.MaxHR.mean() - 3 * df.MaxHR.std()) & (df.MaxHR<df.MaxHR.mean() + 3 * df.MaxHR.std())]
df2 = df1[(df1.FastingBS>df1.FastingBS.mean() - 3 * df1.FastingBS.std()) & (df1.FastingBS<df1.FastingBS.mean() + 3 * df1.FastingBS.std())]
df3 = df2[(df2.Oldpeak>df2.Oldpeak.mean() - 3 * df2.Oldpeak.std()) & (df2.Oldpeak<df.Oldpeak.mean() + 3 * df2.Oldpeak.std())]
df4 = df3[(df3.RestingBP>df3.RestingBP.mean() - 3 * df3.RestingBP.std()) & (df3.RestingBP<df.RestingBP.mean() + 3 * df3.RestingBP.std())]

In [36]:
df4.shape

(902, 12)

In [38]:
df4.head(3)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0

In [40]:
df4.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [42]:
df4.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [44]:
df4.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [46]:
df4.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [47]:
df4.ExerciseAngina.replace(
    {
        'N': 0,
        'Y': 1
    },
    inplace=True)

df4.ST_Slope.replace(
    {
        'Down': 1,
        'Flat': 2,
        'Up': 3
    },
    inplace=True
)

df4.RestingECG.replace(
    {
        'Normal': 1,
        'ST': 2,
        'LVH': 3
    },
    inplace=True)

C:\Users\sejan\AppData\Local\Temp\ipykernel_12652\960771123.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.ExerciseAngina.replace(
C:\Users\sejan\AppData\Local\Temp\ipykernel_12652\960771123.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.ST_Slope.replace(
C:\Users\sejan\AppData\Local\Temp\ipykernel_12652\960771123.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.RestingECG.replace(

In [49]:
df4.head(4)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,0,0.0,3,0
1,49,F,NAP,160,180,0,1,156,0,1.0,2,1
2,37,M,ATA,130,283,0,2,98,0,0.0,3,0
3,48,F,ASY,138,214,0,1,108,1,1.5,2,1

In [51]:
df5 = pd.get_dummies(df4, drop_first=True)
df5.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,3,0,1,1,0,0
1,49,160,180,0,1,156,0,1.0,2,1,0,0,1,0
2,37,130,283,0,2,98,0,0.0,3,0,1,1,0,0
3,48,138,214,0,1,108,1,1.5,2,1,0,0,0,0
4,54,150,195,0,1,122,0,0.0,3,0,1,0,1,0

In [52]:
X = df5.drop("HeartDisease",axis='columns')
y = df5.HeartDisease

X.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,3,1,1,0,0
1,49,160,180,0,1,156,0,1.0,2,0,0,1,0
2,37,130,283,0,2,98,0,0.0,3,1,1,0,0
3,48,138,214,0,1,108,1,1.5,2,0,0,0,0
4,54,150,195,0,1,122,0,0.0,3,1,0,1,0

In [53]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.42395057,  0.46838857,  0.82356203, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-0.47386996,  1.63806323, -0.17638822, ..., -0.4836591 ,
         1.86750159, -0.22914788],
       [-1.7406441 , -0.11644876,  0.76851889, ...,  2.06757196,
        -0.53547478, -0.22914788],
       ...,
       [ 0.37064613, -0.11644876, -0.62590714, ..., -0.4836591 ,
        -0.53547478, -0.22914788],
       [ 0.37064613, -0.11644876,  0.33734769, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-1.63507959,  0.3514211 , -0.2222575 , ..., -0.4836591 ,
         1.86750159, -0.22914788]])

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=30)
model_rf = RandomForestClassifier()
model_rf.fit(X_train, y_train)
model_rf.score(X_test, y_test)

0.856353591160221

In [55]:
pca = PCA(0.95)
X_pca = pca.fit_transform(X)
X_pca

array([[ 91.83125988, -29.92117188],
       [-17.65242865, -14.91153199],
       [ 81.54954718,  38.77126326],
       ...,
       [-69.40438921,  17.77897898],
       [ 38.73714626, -33.61646632],
       [-21.92747552, -37.65570181]])

In [57]:
X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=30)
model_rf = RandomForestClassifier()
model_rf.fit(X_train_pca, y_train)
model_rf.score(X_test_pca, y_test)

0.6906077348066298